#container {
	position:relative;
	margin: 100px auto;
	width: 550px;
	padding-left:370px;
}
h1 { 
	font-size: 2.5em; 
	color: #0f0f0f;
	margin:0px 0px 20px 0px; 
	background-color:#fff;
	padding:5px 10px;	
}
h1 .small { font-size: 0.4em; }
h2 { 
	font-size: 2em; 
	color: #ffffff; 
	background-color:#0f0f0f; 
	margin:20px 0px;
	font-weight:normal;
}
h2 a {
	padding:5px 0px 5px 10px; 
	display:block;
	font-style:normal;
	color:#ffffff;
}

h3 { color: #0f0f0f;  margin-left:10px;}
h4 { color: #0f0f0f;  margin-left:10px;}
a { 
	color: #0f0f0f;
	font-style:italic;
}

p {
	padding:2px 10px;
}

ul {
	list-style:none;
	padding-left:0px;
}

ul li, .box {
	background-color:#ffffff;
	padding:5px 10px;
	margin:5px 0px;
	
}

li.box {
	margin-top:20px;
}

.box {
	padding:10px;
}


.anchor {
	font-weight:bold;
	display:block;
	text-decoration:none;
	font-style:normal;
	
}

.exampleWrapper {
  	position:relative;
    height:250px;
    margin:20px 0px 10px -370px;
    padding-right:4px;
}

.examples {
	position:absolute;
	left:0px;
	width:306px;
	padding:0px;
	margin:0px;
	margin-top:0px;
}
.examples li {
	background-color:transparent;
	margin:5px 0px;
	padding:0px;
}

.examples li.divider {
	margin-top:20px;
}
.examples .box {
	display:block;
	margin:0px;
	padding:5px 10px;
	background-color:#000000;
	color:#ffffff;
	font-style:normal;
	text-decoration:none;
	font-weight:bold;
	cursor:pointer;
	margin-bottom:2px;
	outline:none;
}

.examples a.box {
	background-image:url("../img/openInNewWindow.png");
	background-repeat:no-repeat;
	background-position:right top;
	padding-right:25px;
}
.examples pre {
	margin:4px 0px;
}

.forkMe {
	position:fixed;
	top:0px;
	right:0px;
}
.download {
	float:right; 
	margin-top:-17px;
}
.donateButton {
	font-size: 1em; 
	color: #ffffff; background-color:#0f0f0f; 
	padding:10px 10px 10px 10px;
	border:0px;
	cursor:pointer;
	margin:0px;
	margin-top:10px;
	margin-right:10px;
}

.addthis_toolbox {
	position:absolute;
	top:340px;
	right:0px;
	width:110px;
	margin-right:-10px;
}

.navigation {
	margin-top:50px;
}

.highlight {
margin-left:-225px;
}

.highlight.fit {
margin-left:0px;
}

.highlight pre {
background-color:#f8f8f8;
border:1px solid #ccc;
font-size:12px;
line-height:19px;
overflow:auto;
padding:6px 10px;
border-radius:3px;
color:#333333;
}
