body {
	padding:0px;
	margin:0px;
	background-color: #f0f0f0;
	font-family: Helvetica, Arial, FreeSans, san-serif;
	color: #333333;
	font-size:13px;
}
/*///////////////////////////////////////////////*/
.myElement {
	position:relative;
	height:100%;
	width:100%;
	border:5px solid #000000;
	background-color:#ff3333;
	padding:0px;
	margin:0px;
	
}
.myElement.fullscreen {
	position:absolute;
	height:auto;
	width:auto;
	top:20px;
	left:20px;
	bottom:20px;
	right:20px;
}
.myElement.gsHorizontal {	
	border-width:5px 2px;
}
.gsVertical {
	border-width:2px 5px;
}
.gsSlide {
	outline:2px solid #000000;
	background-color:#fefefe;
}
/*///////////////////////////////////////////////*/
