
body {
	margin:0;
	padding:0;
}

.greenishSlides{
	position:absolute;
	height:100%;
	width:100%;
	margin:0;
	background-color:#00eeee;
}
section{
	font-size:3em; 
	text-align:center;
	min-width:20px;
	background-color:#ee00ee;
}
section.minWidth{
	min-width:200px;
	max-width:400px;
	background-color:#ee55ee;
}
.active {
	background-color:#eeCCee;
}







