
body {
	margin:0;
	padding:0;
}

.greenishSlides{
	position:absolute;
	height:50%;
	width:50%;
	margin:0;
	background-color:#00eeee;
}
section{
	background-color:#ee00ee;
	font-size:3em; 
	text-align:center;
	height:100%;
	min-width:40px;
}
section div{
	position:absolute;
	height:100%;
	width:100%;
}

.active {
	background-color:#eeCCee;
}
.minWidth{
	min-width:200px;
	max-width:400px;
	background-color:#ee55ee;
}







